@font-face {
  font-family: Anakotmai;
  src: url(assets/font/Anakotmai/webfont/anakotmai-light.woff);
}

@font-face {
  font-family: Anakotmai;
  src: url(assets/font/Anakotmai/webfont/anakotmai-medium.woff);
  font-weight: bold;
}

* {
  font-family: "Anakotmai";
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.login-block {
    background-color: #2C2C2C;
    color: white;
    width: 90%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.vl {
  border-left: 1px solid black;
  height: 100%;
}

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #E1B643;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 8px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 5px solid black;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 5px solid black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  align-content: center;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  height: 60px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-right: 2px solid rgba(255, 255, 255, 0.43);
  height: 100%;
}

div.scrollmenu a:hover {
  background-color: #777;
  height: 80px;
}

div.scrollimage {
  overflow: auto;
  white-space: nowrap;
  height: 141px;
}
