.grey-rounded-box {
    width: 236px;
    height: 28px;
    background: #E0E0E0;
    border-radius: 3px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 2px;
}
.yellow-box {
    position: absolute;
    width: 90%;
    height: 21px;

    background: #F2C94C;
    border-radius: 3px;
}